<app-navbar></app-navbar>

<div class="content-wrapper">
  <div class="container mt-5 mb-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    
    <div class="card shadow-lg access-card" style="width: 100%; max-width: 400px;">
      <div class="card shadow-lg p-3" style="background-color: #f8f9fa;">
        <div class="card-body text-center">
          <h4 class="text-dark">Credenziali di accesso per i membri della Lega</h4>
          <p class="text-muted mt-3">Usa queste credenziali per accedere:</p>
          <p><strong>Email:</strong> user@fantaclub.com</p>
          <p><strong>Password:</strong> user123</p>
        </div>
      </div>

      <div class="card-body">
        <h2 class="text-center mb-4">Login</h2>
        
        <!-- Messaggio di successo o errore -->
        <div *ngIf="message" class="alert" [ngClass]="{'alert-success': message.includes('successo'), 'alert-danger': message.includes('non valide')}">
          {{ message }}
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" />
            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)" class="text-danger">
              <small *ngIf="loginForm.get('email')?.errors?.['required']">L'email è richiesta.</small>
              <small *ngIf="loginForm.get('email')?.errors?.['email']">Email non valida.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" />
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)" class="text-danger">
              <small *ngIf="loginForm.get('password')?.errors?.['required']">La password è richiesta.</small>
              <small *ngIf="loginForm.get('password')?.errors?.['minlength']">La password deve avere almeno 6 caratteri.</small>
            </div>
          </div>

          <div class="text-center but1">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Accedi</button>
          </div>
        </form>
      </div>
    </div>
  </div>  
</div>

<app-footer></app-footer>
