<app-navbar></app-navbar>

<div class="content-wrapper">
  <!--Focus-->
  <div class="container mt-5 mb-5">
      <hr>
      <!-- Sezione banner con sfondo rosso -->
      <div class="red-banner">
          <div class="banner-content">
              <h3 class="t1">Contenuto non ancora disponibile </h3>
            </div>
      </div>
  </div>
 </div> 
<!--
<div class="content-wrapper">
    <div class="container mt-5 mb-5">
      <h2 class="text-center mb-4">CLASSIFICA</h2>
      <table class="table table-striped table-bordered table-hover table-lg">
        <thead>
          <tr>
            <th>#</th>
            <th>Squadra</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td id="squadra1"></td>
          </tr>
          <tr>
            <td>2</td>
            <td id="squadra2"></td>
          </tr>
          <tr>
            <td>3</td>
            <td id="squadra3"></td>
          </tr>
          <tr>
            <td>4</td>
            <td id="squadra4"></td>
          </tr>
          <tr>
            <td>5</td>
            <td id="squadra5"></td>
          </tr>
          <tr>
            <td>6</td>
            <td id="squadra6"></td>
          </tr>
          <tr>
            <td>7</td>
            <td id="squadra7"></td>
          </tr>
          <tr>
            <td>8</td>
            <td id="squadra8"></td>
          </tr>
          <tr>
            <td>9</td>
            <td id="squadra9"></td>
          </tr>
          <tr>
            <td>10</td>
            <td id="squadra10"></td>
          </tr>
          <tr>
            <td>11</td>
            <td id="squadra11"></td>
          </tr>
          <tr>
            <td>12</td>
            <td id="squadra12"></td>
          </tr>
          <tr>
            <td>13</td>
            <td id="squadra13"></td>
          </tr>
          <tr>
            <td>14</td>
            <td id="squadra14"></td>
          </tr>
          <tr>
            <td>15</td>
            <td id="squadra15"></td>
          </tr>
          <tr>
            <td>16</td>
            <td id="squadra16"></td>
          </tr>
          <tr>
            <td>17</td>
            <td id="squadra17"></td>
          </tr>
          <tr>
            <td>18</td>
            <td id="squadra18"></td>
          </tr>
          <tr>
            <td>19</td>
            <td id="squadra19"></td>
          </tr>
          <tr>
            <td>20</td>
            <td id="squadra20"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
-->
  <app-footer></app-footer>

  