<app-navbar></app-navbar>

<div class="content-wrapper">
  <!--Focus-->
  <div class="container mt-5 mb-5">
      <hr>
      <!-- Sezione banner con sfondo rosso -->
      <div class="red-banner">
          <div class="banner-content">
              <h3 class="t1">Benvenuti in FANTA CLUB </h3>
              <p class="p1">Organizziamo leghe ed EuroLeghe con fantastici premi. Scopri e scegli la competizione che fa al caso tuo!</p>
              <button class="b1" type="text"><a href="https://leghe.fantacalcio.it/unisci-lega" target="_blank">ENTRA IN LEGA</a></button>
            </div>
      </div>
  </div>

  <app-section1></app-section1>
</div>


<app-footer></app-footer>
