/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative; 
    background-color: #001f3f;
  }
  

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Imposta altezza minima al 100% della finestra */
}

.content-wrapper > * {
    flex: 1; /* Consenti al contenuto di crescere */
}

p{
    color: white;
}

.red-banner {
    background-image: url('/assets/banner1.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.t1{
    font-weight:800;
    font-size: 50px;
    letter-spacing: 2px;
}

.p1{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: white;
}

.b1{
    background-color: #01a8e8;
    border: none; 
    border-radius: 8px; 
    padding: 12px 24px; 
    font-size: 16px; 
    color: white; 
    cursor: pointer; 
    text-transform: uppercase; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}

.b1:hover {
    background: linear-gradient(90deg, #ff6347, #ff4500); 
}

.b1:active {
    transform: scale(0.98); 
}

.highlight {
    background-color: red!important;
    font-weight: bold; /* Testo in grassetto per una maggiore visibilità */
}